<!-- This HTML template represents the users component. It displays a header component, and conditionally renders different content based on the state of the component's data. -->

<app-header></app-header>

<!-- Display a loading message if data is being fetched -->
<div *ngIf="isFetchingData">Loading...</div>

<!-- Display a message if no users are found -->
<div *ngIf="!isFetchingData && users.length === 0">No user found</div>

<!-- Display the table component if data has been fetched and there are users -->
<div *ngIf="!isFetchingData">
    <app-table [data]="users" [columns]="columns"></app-table>
</div>