<!--
  This is the HTML template for the root component of the application.
  It contains the main layout structure of the application, including the navigation and the main content area.

  HTML Structure:
  - The root component is wrapped in a <div> element.
  - Inside the root <div>, there are two main sections:
    - The left section contains the navigation component, which is only visible on large screens.
    - The right section contains the main content area, which is a <router-outlet> component that renders the appropriate component based on the current route.

  CSS Classes:
  - The left section has the following CSS classes applied to it: "hidden", "lg:fixed", "lg:inset-y-0", "lg:z-50", "lg:flex", "lg:w-72", "lg:flex-col", "lg:h-full".
  - The main content area has the following CSS classes applied to it: "py-6", "lg:pl-72".
  - The inner <div> inside the main content area has the following CSS classes applied to it: "px-8", "sm:px-12", "lg:px-16".

  Usage:
  - This template is used as the main layout for the application.
  - It should be included in the root component's HTML file (app.component.html).
-->
<div>
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col lg:h-full">
    <app-navigation></app-navigation>
  </div>
  <main class="py-6 lg:pl-72">
    <div class="px-8 sm:px-12 lg:px-16">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>